<!DOCTYPE html>　
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!-- js start -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<!-- js end -->

<!-- github auto css star -->
<link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
<!-- github auto css end -->
　　
<link rel="stylesheet" type="text/css" href="stylesheets/custom.css" media="screen" />
<link rel="stylesheet" type="text/css" href="stylesheets/LJWstylesheets.css" media="screen" />

<!-- 如果是首页 -->
{% if(page.isIndex) %} 
<link rel="stylesheet" type="text/css" href="stylesheets/custom-index.css" media="screen" />
<!-- TWEENUI INCLUDES START -->
<script type="text/javascript" src="javascript/plugins/CSSPlugin.min.js"></script>
<script type="text/javascript" src="javascript/easing/EasePack.min.js"></script>
<script type="text/javascript" src="javascript/TimelineLite.min.js"></script>
<script type="text/javascript" src="javascript/TweenLite.min.js"></script>
<script type="text/javascript" src="javascript/TweenUI.js"></script>
<link type="text/css" href="stylesheets/TweenUI.css" rel="stylesheet">
<!-- TWEENUI INCLUDES END -->
<script type="text/javascript">

jQuery(document).ready(function($) {

    var checkCss=function(){

        if($("#tui-9").css("top")=="305px"){
            clearInterval(checkTimer);

            $(".header").animate({'top':'+=0'},1760,function(){
            $("#start-bg").animate({height:0},1740,function(){
            $(".header_up a").animate({opacity:"1"});
            $(".header_up span").animate({opacity:"1"});
            $("#tui-ct").hide();
            $("#tui-9").hide();
            $("#tui-8").hide();
            $("#tui-7").hide();
        });
        //$("#tweenuis").animate({marginTop:"-774px"},1740);
        //$(".header").animate({marginTop:"-24px"},800);
        });
        }
    }
    var checkTimer=setInterval(checkCss,200);

    tweenui.init();
    
    
});
</script>
{% endif %}

<title>{{ page.title }}</title>　
</head>
<body class="violet-content">
<div id="start-bg"></div>
<header class="header" id="header">
    <!-- header_up -->
	<div class="header_up">
    	<a onfocus="this.blur()" href="http://blog.loujiwei.cn" id="logo" title="loujiwei Blog"><cite>kkooff114</cite></a>
        <span class="subtitle">Lou Jiwei' Blog</span>
    </div>
    <!-- header_down -->
    <div class="header_down">
        <div class="menu">
            <ul class="menu-nav">
                <li class="menu-item"><a href="">首页</a></li>
                <li class="menu-item"><a href="">博客分类</a></li>
                <li class="menu-item"><a href="">工具收集</a></li>
                <li class="menu-item"><a href="">个人经历</a></li>
                <li class="menu-item"><a href="">留言板</a></li>
                <li class="menu-item"><a href="">关于本站</a></li>
            </ul>   
        </div>
    </div>
</header>
<div class="main">
　　　　{{ content }}
</div>
<!--评论功能
<div id="disqus_thread"></div>
<script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'kkooff114'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
<noscript>
Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 　　-->

    <!-- <div id="tui-animation-1"> -->
        <div id="tui-ct"></div>
        <div id="tui-9"></div>
        <div id="tui-8">build 2013</div>
        <div id="tui-7">Lou Jiwei Blogs</div>
        <img src="images/logo.png" onLoad="tweenui.imgcntd(this)" id="tui-img-9" />
    <!-- </div> -->
</body>
　　
</html>
