
<!DOCTYPE html>　
<html>
<head>
    <!--
     **
     * Author:         Lou Jiwei
     * Contact:        kkooff114@gmail.com
     * Create Date:    2013-09-02
     **
   -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!-- js start -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

<!-- js end -->

<!-- github auto css star -->
<!-- <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
<!-- github auto css end -->
　　
<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/LJWstylesheets.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/toc.css" media="screen" />
<link href="http://cdn.bootcss.com/highlight.js/8.9.1/styles/solarized_light.min.css" rel="stylesheet">

<!-- 如果是首页 -->
{% if(page.isIndex) %} 
<link rel="stylesheet" type="text/css" href="/stylesheets/custom-index.css" media="screen" />
<!-- TWEENUI INCLUDES START -->
<script type="text/javascript" src="/javascript/plugins/CSSPlugin.min.js"></script>
<script type="text/javascript" src="/javascript/easing/EasePack.min.js"></script>
<script type="text/javascript" src="/javascript/TimelineLite.min.js"></script>
<script type="text/javascript" src="/javascript/TweenLite.min.js"></script>
<script type="text/javascript" src="/javascript/TweenUI.js"></script>
<link type="text/css" href="/stylesheets/TweenUI.css" rel="stylesheet">
<!-- TWEENUI INCLUDES END -->
<script type="text/javascript">

jQuery(document).ready(function($) {
    var isFirst=true;

    function init(){
        $("#start-bg").css("height","900px");
        $(".header_up a").css("opacity", "0");
        $(".header_up span").css("opacity", "0")
        $(".hang-tag").css("visibility", "hidden");
    }
    init();
    var checkCss=function(){

        if($("#tui-9").css("top")=="305px"){
            clearInterval(checkTimer);

            $(".header").animate({'top':'+=0'},1760,function(){
                $("#start-bg").animate({height:0},1770,function(){
                    $(".header_up a").animate({opacity:"1"},20);
                    $(".header_up span").animate({opacity:"1"},400,function(){
                        //悬挂tags
                        $(".hang-tag").css("marginLeft",$('#aboutsite').offset().left+110);
                        $(".hang-tag-weibo").css("left",$('#aboutsite').offset().left+165);
                        $(".hang-tag").css("visibility", "visible");
                        // $(".hang-tag-github").animate({top:-50},1500,'easeOutElastic');
                        // $(".hang-tag-weibo").animate({top:-23},1700,'easeOutElastic');
                        $(".hang-tag-github").animate({top:-50},{queue:false, duration:1500, easing: 'easeOutElastic'});
                        $(".hang-tag-weibo").animate({top:-23},{queue:false, duration:1700, easing: 'easeOutElastic'});
                    });
                    $("#tui-7").hide();
                    $("#tui-8").hide();
                    $("#tui-ct").hide();
                    $("#tui-9").hide();
                });
            });
        }
    }
    var checkTimer=setInterval(checkCss,200);//监听

    tweenui.init();

    window.onscroll = function(){ 
        var t = document.documentElement.scrollTop || document.body.scrollTop;
        if(t>400&&isFirst){
            $(".follow-me ul li").each(function(){
                var the=$(this);
                $(".header").animate({'top':'+=0'},260,function(){
                    $(the).removeClass('follow-me-hidden');
                    $(the).addClass('follow-me-show');
                });
                
            });
            
            isFirst=false;
        }
    }

    $(".hang-tag-github").click(function(){

    });
    
    
});
</script>
{% endif %}
<!-- 如果是首页end -->
<!-- if post start -->
{% if(page.isPost) %}

<link rel="stylesheet" type="text/css" href="/stylesheets/custom-post.css" media="screen" />
{% endif %}
<!-- if post end -->

<title>{{ page.title }}</title>　
</head>
<body class="violet-content">
<div id="start-bg"></div>
<header class="header" id="header">
    <!-- header_up -->
	<div class="header_up">
    	<a onfocus="this.blur()" href="http://blog.loujiwei.cn" id="logo" title="loujiwei Blog"><cite>kkooff114</cite></a>
        <span class="subtitle">Lou Jiwei' Blog</span>
    </div>
    
    <!-- header_down -->
    <div class="header_down">
        <div class="menu">
            <ul class="menu-nav">
                <li class="menu-item"><a href="">首页</a></li>
                <li class="menu-item"><a href="">博客分类</a></li>
                <li class="menu-item"><a href="">工具收集</a></li>
                <li class="menu-item"><a href="">个人经历</a></li>
                <li class="menu-item"><a href="">留言板</a></li>
                <li class="menu-item" id="aboutsite"><a href="">关于本站</a></li>
            </ul>   
        </div>
        <div class="hang-tag">
            <a href="https://github.com/kkooff114"><div class="hang-tag-weibo"></div></a>
            <a href="#"><div class="hang-tag-github"></div></a>
        </div>
    </div>
</header>

    {{ content | toc_generate }}

<!--评论功能
<div id="disqus_thread"></div>
<script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'kkooff114'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
<noscript>
Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> 　　-->

   
    <footer>
        <section>
            Copyright © 2013 <a href="http://loujiwei.cn" target="_blank" rel="nofollow">kkooff114</a> All rights reserved.
            Powered by <a href="http://jekyllrb.com" target="_blank" rel="nofollow">Jekyll</a> .designed by <a href="http://loujiwei.cn" rel="nofollow">loujiwei.cn</a>
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000076578'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000076578%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        </section>

    </footer>

<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
　　
</html>
