---
layout: default
isPost: true
---
<div class="main">
    <div id="container">
        <div class="container-left">
            <section>
                <h1 class="title"><a>{{ page.title }}</a></h1>
                <p class="meta"><time class="date" pubdate="{{ page.date | date_to_utc | date: '%Y-%m-%d' }}">{{ page.date | date_to_utc | date: "%Y-%m-%d" }}</time> By <a href="/contact.html" class="author" title="author"> Jiwei</a></p>
                <p class="description">{{ page.description }}</p>
                {{ content }}
                <div class="announce">
                            声明: 本文采用 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank" rel="nofollow" title="署名-非商业性使用-相同方式共享">BY-NC-SA</a> 协议进行授权. 转载请注明转自: <a href="{{ page.url }}" title="{{ page.title }}" rel="nofollow">{{ page.title }}</a>
                </div>
                 <nav class="pagination">
                            {% if page.previous %}
                            <a class="prev" href="{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
                            {% endif %}
                            {% if page.next %}
                            <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
                            {% endif %}
                </nav>
            </section>
            <div class="comment">
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = 'kkooff114'; // required: replace example with your forum shortname

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                <noscript>
                Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                </noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>
        <div class="container-right">
            <article class="recent-post">
                <h4 class="recent-acticles">最新文章</h4>
                    <ul>
                    {% for rpost in site.related_posts limit:8  %}   
                        <li>
                            <a href="{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a>
                        </li>                                   
                    {% endfor %}
                    </ul>
            </article>
        </div>
    </div>
</div>
